*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.entirepage{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/*Navbar*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
color: #333333;
}

.main_nav{
  display: flex;
  align-items: center;
  list-style: none;
}

.main_nav li{
  display: inline;
}

.main_nav li a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0px 30px 0px 30px;  
}

/*Section 1*/
.section-1
{
  padding: 45px 70px 45px 70px;   
  background-image: url(../assets/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: fit-content;
}

.section1-text
{
  margin-top: 95px;
  width: 548px;
}

.heading
{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  color: #333333;
}

.standardbutton
{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  color: #E0E0E0;
  width: 257px;
  height: 64px;
  margin-top: 65px;
  border: none;
  background: #222222;
}

.floating-bar
{
  display: flex;
  width: 100%;
  height: 124px;
  margin: 180px auto 0px auto;
  background: #222222;
  box-shadow: 0px 4px 25px 1px #E0E0E0;
}

.dropbox
{
  width: 30%;
  display: flex;
  align-items: center;
}
.bar-text
{
  width: 70%;
  margin: 0 auto;
}

.dropdown
{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
}

.text1
{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
  text-align: right;
}

.text2
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}
.search-button
{
  width: 10%;
  color: rgba(51, 51, 51, 0.5);;
  font-size: 24px;
  text-align: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/*Section 2*/
.section-2
{
  display: flex;
  padding: 70px 0px 70px 35px;  
}

.section2-image 
{
  width: 50%;
}
.section2-image img
{
  width: 100%;
}

.section2-text
{
  width: 40%;
  margin: 0 auto;
}

.section2-head
{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 50px;
  color: #333333;
}

.section2-body
{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}
button
{
  text-align: center;
}

/*Section 3*/
.section-3
{
  margin: 70px 0px 70px 70px;
  width: 100%;
}
.card-container
{
  display: flex;
  margin-top: 70px;
}

#addpadding
{
  margin-left: 50px;
}
.card
{
  background: #EEEEEE;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));
}

.floatingbutton
{
  position: absolute;
  top: 50%;
  right: 100px;
}

.icon-card
{
  position: relative;
}



.card-image
{
  width: 100%;
}

.card-text
{
 padding: 15px 30px;
}

.cardhead
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
} 

.cardhead2
{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height */
color: #000000;
}

.price-style
{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: right;
color: #000000;
}

.price-style i
{
  -webkit-text-stroke: 1px #FF5652;
  color: #EEEEEE;
  box-sizing: border-box;
  margin-left: 10px;
}

#active
{
  color: #FF3C34;
}

.icons i
{
font-size: 13px;
line-height: 19px;
/* identical to box height */
margin-left: 18px;
margin-right: 7px;
color: #000000;
}

.icons
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  text-align: right;
}
.two-dots
{
  display: none;
}

/*Section 4*/
.section-4
{
  margin: 100px 70px;
}

.card2
{
  width: 411px;
  background: #FDF9F9;
  box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;  
}
.card-text2
{
  text-align: center;
  margin: 0px 70px 70px 70px;
}

.card2-head
{
  margin: 30px 0px 30px 0px;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.card2-body
{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.icon-card2
{
  width: 100%;
  margin: 70px auto 0px auto;
  text-align: center;
}

.card-image2
{
  width: 103px;
  height: 103px;
}

#addpadding2
{
  margin-left: 45px;
}

/*Section 5*/
.section-5
{
  margin: 100px 70px;
  display: flex;
}
.frame-holder
{
  position: relative;
  width: 50%;
}
.playbutton
{
  position: absolute;
  top: 35%;
  left: 40%;
}
.section5-image 
{
  width: 100%;
}
.section5-image img
{
  width: 100%;
}

.box
{
  width: 90%;
  float: right;
  height: 120px;
  background: rgba(253, 249, 249, 0.77);
  border: 1px solid #999292;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px 4px rgba(238, 238, 238, 0.8);
}
.box-container
{
  width: 50%;
}
.boxtext
{
  width: 65%;
  float: right;
  padding: 20px 0px 20px 0px;
}

.boxtext1
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height */
  color: #000000;
}

.boxtext2
{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #000000;
}

#addpadding3
{
  margin-top: 30px;
}

/*Section 6*/

.card-container2
{
  background: #333333;
  height: fit-content;
  padding: 100px;
  display: flex;
}

.card3
{
  width: 30%;
  height: fit-content;
  background: #7A7A7A;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
}
#addpadding4
{
  margin-left: 25px;
}

.icon-card4
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card3text1
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: left;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 45px;
}

.card3text2
{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 105.47%;
  color: #5C5C5C;
}

.card3text3
{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 105.47%;
  /* or 13px */
  color: #5C5C5C;
  margin: 3px;
}

/*Section 7*/
.section-7
{
  background-color: #232323;
  padding: 30px 100px;
}

/*Top footer*/
.footer
{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#box1
{
  width: 240px;
}

.footertext1
{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 175.78%;
  /* or 19px */
  color: #FFFFFF;
} 

.footerhead
{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175.78%;
  margin-top: 30px;
  margin-bottom: 20px;
  /* or 26px */
  color: #FFFFFF;
}

.footerbody
{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 175.78%;
/* or 26px */
color: #FFFFFF;
}

.socialbuttons
{
  text-align: right;
  width: 95%;
}

.socialbuttons i{
  color: #FDF9F9;
  font-size: 21px;
  margin-left: 11px;
}

/*copyright*/
.copyright
{
  background-color: #000;
  padding: 20px 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}

.copyright p, .copyright span
{
  font-family: Proxima Nova;
}



@media only screen and (max-width : 445px)
{
  /*NavBar*/
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    align-items: center;   
  }

  .logo{
    font-size: 32px;
  }

  .main_nav{
    display: none;
  }
  .main_nav li a
  {
    margin-right: 0px;
  }
  .main_nav li
  {
    text-align: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }
  .navbar_toggle img
  {
    height: 20px;
    width: 25px;
  }

  .show_nav{
    display: flex;
    width: 100%;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.9);
    left: 0px;
    top: 70px;
    height: 50%;
    flex-direction: column;
    justify-content: flex-start;
  }

  /*Section 1*/
.section-1
{ 
  padding: 15px;  
  background-size: cover; 
  height: 85%;
}

.section1-text
{
  margin: 48px auto;
  width: 100%;
  text-align: center;
}

.heading
{
  font-size: 56px;
}

.standardbutton
{
  margin: 32px auto;
  width: 240px;
  font-size: 20px;
}

.floating-bar
{
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
}
.bar-text
{
  padding: 15px;
}
.dropbox
{
  width: 100%;
}

.text1, .text2
{
  text-align: left;
}

.text1
{
  font-size: 16px;
}
.text2
{
  font-size: 18px;
}

.search-button
{
  width: 100%;
  height: 60px;
}

/*Section 2*/
.section-2
{
  padding: 25px;  
}
.section2-image
{
  display: none;
}

.section2-text
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section2-head
{
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 60px;
}

.section2-body
{
  font-size: 14px;
  line-height:30px;
}

/*Section 3*/
.section-3
{
  margin: 15px auto;
  width: 70%;
}

#addpadding
{
  display: none;
}

.card-container
{
  margin-top: 35px;
}

.two-dots
{
  display: flex;
  position: relative;
  bottom: 0px;
  margin: 20px auto;
  left: 45%;
}
  .dot-1, .dot-2
  {
    height: 5.5px;
    width: 5.5px;
    margin: 2.5px;
    border-radius: 50%;
  }

  .dot-1
  {
    background: #000;
  }
  .dot-2
  {
    background: rgba(0, 0, 0, 0.5);
  }

  .card-text
  {
  padding: 15px;
  }

  .cardhead
  {
    font-size: 22px;
    line-height: 27px
  }
  
  .cardhead2
  {
    font-size: 10px;
  }

  .price-style
  {
    font-size: 16px;
  }

  .icons, .icons i
  {
    font-size: 12px;
  }

  /*Section 4*/
  .card-container
  {
    display: flex;
    flex-direction: column;
  }

  .section-4
  {
    width: 70%;
    margin: 35px auto;
  }

  .card2
  {
    width: 100%;
  }

  #addpadding2
  {
    margin: 40px 0px 0px 0px;
  }

  .card-text2
  {
    margin: 0px 20px 30px 20px;
  }

  .card2-head
  {
    margin: 15px 0px 15px 0px;
    font-size: 18px;
  }

  .card2-body
  {
    font-size: 16px;
  }

  .icon-card2
  {
    width: 100%;
    margin: 30px auto 0px auto;
    text-align: center;
  }

  
  .card-image2
  {
    width: 60px;
    height: 60px;
  }

  /*Section 5*/
  .section-5
  {
    display: flex;
    flex-direction: column;
  }
  .playbutton
{
  position: absolute;
  width: 59px;
  height: 59px;
  top: 35%;
  left: 40%;
}

  .section-5
  {
    width: 90%;
    margin: 50px auto;
  }

  .frame-holder
{
  position: relative;
  width: 100%;
}
.box-container
{
  width: 90%;
  margin: 0px auto;
}
#addpadding3
{
  margin-top: 15px;
}
.box
{
  width: 100%;
  height: 100px;
  margin-top: 15px;
}
.boxtext
{
  width: 80%;
  padding: 5px 0px 5px 0px;
}
.boxtext1
{
  font-size: 16px;
}
.boxtext2
{
  font-size: 12px;
}

/*Section 6*/
.card-container2
{
  padding: 100px 0px 80px 0px;
  display: flex;
  flex-direction: column;
}

.card3
{
  width: 70%;
  margin: 0 auto;

}

#addpadding4
{
  display: none;
}

.three-dots
{
  display: flex;
  margin-top: 20px;
  position: relative;
  left: 45%;
}

.card3text1, .card3text2
{
  font-size: 14px;
}

/*Section 7*/
.section-7
{
  padding: 0;
}
.footer
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

#box1
{
  width: 100%;
}

.socialbuttons
{
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}

.socialbuttons i{
  color: #FDF9F9;
  font-size: 18px;
  margin-left: 0px;
  margin-right: 11px;
}
.footerhead,.footerbody
{
  font-size: 13px;
}
.copyright
{
  padding: 20px;
  text-align: center;
}
}
